# Pandas Library

### Importing the necessary libraries

In [14]:
import os
import pandas as pd 
import numpy as np

### Reading the data

In [15]:
df = pd.read_csv("Data/Toyota.csv",index_col=0)

In [16]:
df.head()

   Price   Age     KM FuelType  HP  MetColor  Automatic    CC  Doors  Weight
0  13500  23.0  46986   Diesel  90       1.0          0  2000  three    1165
1  13750  23.0  72937   Diesel  90       1.0          0  2000      3    1165
2  13950  24.0  41711   Diesel  90       NaN          0  2000      3    1165
3  14950  26.0  48000   Diesel  90       0.0          0  2000      3    1165
4  13750  30.0  38500   Diesel  90       0.0          0  2000      3    1170

### DEEP COPY METHOD

In [17]:
samp = df.copy(deep = True)

In [18]:
samp

,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
0,13500,23.0,46986,Diesel,90,1.0,0,2000,three,1165
1,13750,23.0,72937,Diesel,90,1.0,0,2000,3,1165
2,13950,24.0,41711,Diesel,90,NaN,0,2000,3,1165
3,14950,26.0,48000,Diesel,90,0.0,0,2000,3,1165
4,13750,30.0,38500,Diesel,90,0.0,0,2000,3,1170
...,...,...,...,...,...,...,...,...,...,...
1431,7500,NaN,20544,Petrol,86,1.0,0,1300,3,1025
1432,10845,72.0,??,Petrol,86,0.0,0,1300,3,1015
1433,8500,NaN,17016,Petrol,86,0.0,0,1300,3,1015
1434,7250,70.0,??,NaN,86,1.0,0,1300,3,1015
1435,6950,76.0,1,Petrol,110,0.0,0,1600,5,1114

### SHALLOW COPY METHOD

In [19]:
dt = samp.copy(deep = False)

In [20]:
dt

,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
0,13500,23.0,46986,Diesel,90,1.0,0,2000,three,1165
1,13750,23.0,72937,Diesel,90,1.0,0,2000,3,1165
2,13950,24.0,41711,Diesel,90,NaN,0,2000,3,1165
3,14950,26.0,48000,Diesel,90,0.0,0,2000,3,1165
4,13750,30.0,38500,Diesel,90,0.0,0,2000,3,1170
...,...,...,...,...,...,...,...,...,...,...
1431,7500,NaN,20544,Petrol,86,1.0,0,1300,3,1025
1432,10845,72.0,??,Petrol,86,0.0,0,1300,3,1015
1433,8500,NaN,17016,Petrol,86,0.0,0,1300,3,1015
1434,7250,70.0,??,NaN,86,1.0,0,1300,3,1015
1435,6950,76.0,1,Petrol,110,0.0,0,1600,5,1114

In [21]:
samp

,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
0,13500,23.0,46986,Diesel,90,1.0,0,2000,three,1165
1,13750,23.0,72937,Diesel,90,1.0,0,2000,3,1165
2,13950,24.0,41711,Diesel,90,NaN,0,2000,3,1165
3,14950,26.0,48000,Diesel,90,0.0,0,2000,3,1165
4,13750,30.0,38500,Diesel,90,0.0,0,2000,3,1170
...,...,...,...,...,...,...,...,...,...,...
1431,7500,NaN,20544,Petrol,86,1.0,0,1300,3,1025
1432,10845,72.0,??,Petrol,86,0.0,0,1300,3,1015
1433,8500,NaN,17016,Petrol,86,0.0,0,1300,3,1015
1434,7250,70.0,??,NaN,86,1.0,0,1300,3,1015
1435,6950,76.0,1,Petrol,110,0.0,0,1600,5,1114

### DATAFRAME.INDEX()

#### To get the index (row labels) of the dataframe

In [22]:
samp.index

Int64Index([   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,
            ...
            1426, 1427, 1428, 1429, 1430, 1431, 1432, 1433, 1434, 1435],
           dtype='int64', length=1436)

### DATAFRAME.COLUMNS()

#### To get the attribute / columns names

In [23]:
samp.columns

Index(['Price', 'Age', 'KM', 'FuelType', 'HP', 'MetColor', 'Automatic', 'CC',
       'Doors', 'Weight'],
      dtype='object')

### DATAFRAME.SIZE()

#### To display the size of the data

In [24]:
samp.size

14360

### DATAFRAME.SHAPE()

#### To display the shape

In [ ]:
samp.shape

(1436, 10)

### DATAFRAME.MEMORY_USAGE([INDEX, DEEP])

The memory usage of each column in bytes

In [27]:
samp.memory_usage()

Index        11488
Price        11488
Age          11488
KM           11488
FuelType     11488
HP           11488
MetColor     11488
Automatic    11488
CC           11488
Doors        11488
Weight       11488
dtype: int64

### DATAFRAME.NDIM

#### The number of axes / array dimensions

In [28]:
samp.ndim

2

## INDEXING AND SELECTING DATA

#### In python slicing operator [] and dot . operators are used for indexing

### DATAFRAME.HEAD([N])

#### The function head returns the first n rows from the dataframe

In [30]:
samp.head(7)

   Price   Age     KM FuelType    HP  MetColor  Automatic    CC  Doors  Weight
0  13500  23.0  46986   Diesel    90       1.0          0  2000  three    1165
1  13750  23.0  72937   Diesel    90       1.0          0  2000      3    1165
2  13950  24.0  41711   Diesel    90       NaN          0  2000      3    1165
3  14950  26.0  48000   Diesel    90       0.0          0  2000      3    1165
4  13750  30.0  38500   Diesel    90       0.0          0  2000      3    1170
5  12950  32.0  61000   Diesel    90       0.0          0  2000      3    1170
6  16900  27.0     ??   Diesel  ????       NaN          0  2000      3    1245

### DATAFRAME.TAIL()

#### The funtion returns the last n rows for the object based position

In [31]:
samp.tail(7)

,Price,Age,KM,FuelType,HP,MetColor,Automatic,CC,Doors,Weight
1429,8950,78.0,24000,Petrol,86,1.0,1,1300,5,1065
1430,8450,80.0,23000,Petrol,86,0.0,0,1300,3,1015
1431,7500,NaN,20544,Petrol,86,1.0,0,1300,3,1025
1432,10845,72.0,??,Petrol,86,0.0,0,1300,3,1015
1433,8500,NaN,17016,Petrol,86,0.0,0,1300,3,1015
1434,7250,70.0,??,NaN,86,1.0,0,1300,3,1015
1435,6950,76.0,1,Petrol,110,0.0,0,1600,5,1114

#### To access scalar values the fastest way is to use the at and iat methods , at provides label - based scalar lookups and iat provides integer based lookups

In [34]:
samp.at[2,'FuelType']

'Diesel'

In [36]:
samp.iat[5,6]

0

### .LOC

#### To access a group of rows and columns by labels

In [44]:
samp.loc[:,'KM']

0       46986
1       72937
2       41711
3       48000
4       38500
        ...
1431    20544
1432       ??
1433    17016
1434       ??
1435        1
Name: KM, Length: 1436, dtype: object

### .ILOC

#### To access a group of rows and columns by integers

In [45]:
samp.iloc[:,5]

0       1.0
1       1.0
2       NaN
3       0.0
4       0.0
       ...
1431    1.0
1432    0.0
1433    0.0
1434    1.0
1435    0.0
Name: MetColor, Length: 1436, dtype: float64

### DTYPES()

#### Returns a series with the datatype of each column

In [ ]:
samp.dtypes

Price          int64
Age          float64
KM            object
FuelType      object
HP            object
MetColor     float64
Automatic      int64
CC             int64
Doors         object
Weight         int64
dtype: object

### DTYPES.VALUES_COUNTS()

 #### DTYPES.VALUES_COUNTS()) returns count of unique data types in the dataframe

In [54]:
samp.dtypes.value_counts()

int64      4
object     4
float64    2
dtype: int64

### DATAFRAME.SELECT_DTYPES(INCLUDE = NONE , EXCLUDE = NONE)

#### Returns a subset of the columns based on the columns dtypes

In [56]:
samp.select_dtypes(exclude = [object])

      Price   Age  MetColor  Automatic    CC  Weight
0     13500  23.0       1.0          0  2000    1165
1     13750  23.0       1.0          0  2000    1165
2     13950  24.0       NaN          0  2000    1165
3     14950  26.0       0.0          0  2000    1165
4     13750  30.0       0.0          0  2000    1170
...     ...   ...       ...        ...   ...     ...
1431   7500   NaN       1.0          0  1300    1025
1432  10845  72.0       0.0          0  1300    1015
1433   8500   NaN       0.0          0  1300    1015
1434   7250  70.0       1.0          0  1300    1015
1435   6950  76.0       0.0          0  1600    1114

[1436 rows x 6 columns]

### INFO()

In [57]:
samp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1436 entries, 0 to 1435
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Price      1436 non-null   int64
 1   Age        1336 non-null   float64
 2   KM         1436 non-null   object
 3   FuelType   1336 non-null   object
 4   HP         1436 non-null   object
 5   MetColor   1286 non-null   float64
 6   Automatic  1436 non-null   int64
 7   CC         1436 non-null   int64
 8   Doors      1436 non-null   object
 9   Weight     1436 non-null   int64
dtypes: float64(2), int64(4), object(4)
memory usage: 155.7+ KB